@charset "UTF-8";
body{
    background-color: rgb(247, 247, 228);
    margin-left: 50px;
    margin-right: 25px;
    font-family: Arial, Helvetica, sans-serif;

    
}
h1 {
    background-color: aliceblue;
    background-size: auto;
    text-align: center;
    color: blue;
    font-size: 50px;

}



